<html>
  <head>
    <title>Submit a form</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1>Efficace</h1>
      </div>
      <h4>This application searches Twitter to perform offensive analysis of sentiment. Input Twitter user and this account will be scraped and return analysis of tweets. This can be then used to report the account for the following reasons amongst others:</h4>
      <ul>
        <li> Terrorism </li>
        <li> Online Bullying </li>
        <li> Pronography </li>
      </ul>
      <div id="main">
        <div class='row'>
          <div class='col-md-6'>
            <h2> Input suspect Twitter account:</h2>
            <input type='text' placeholder='@username'/>
            <a class='btn btn-input' href="/react" type='button'>Submit</button>
          </div>
          <div class='col-md-6'>
            <img height=500 src='/static/images/twitter_profile.png'
          </div>

      </div>
      <div class='row'>
        <img src='/static/images/example_tweet.jpg'>
      </div>
    </div>
  </body>
</html>
